rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // write = create, delete, update

      // only authenticated users should create new transactions
      allow create: if request.auth != null;

      // logged in user's uid should match the document's uid to read and delete transactions
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}